<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Yakusu for Slack</title>
    <meta name="description" content="HTTP Status command for Slack">
    <meta name="author" content="David Lee">
    <link rel="stylesheet" href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" integrity="sha384-Wrgq82RsEean5tP3NK3zWAemiNEXofJsTwTyHmNb/iL3dP/sZJ4+7sOld1uqYJtE" crossorigin="anonymous">
    <link rel="stylesheet" href="../assets/css/style.css">
</head>
<body>
    <section class="container">
        <header>
            <h1>Yakusu Command for Slack</h1>
        </header>

        <div  class="logo">
            <img src="../assets/images/slack-icon.png">
            <img src="../assets/images/plus.png">
            <img src="../assets/images/http-12.png">
        </div>

        <p>
            Wanna talk to your fellow Slackers effortlessly in English or Japanese?
            Once installed it in your Slack team, simply type <code>/yakusu</code> slash command followed by your message.
            Yakusu will translate your message between English and Japanese automatically.
        </p>
          
        <h2>Install it on Your Slack Team</h2>
    
        <p>
            Setting up Yakusu is Easy. Simply click on the button below to install it in your workspace!
        </p>

        <a href="https://slack.com/oauth/authorize?&client_id=258073624097.295542007253&scope=commands,team:read,chat:write:user"><img alt="Add to Slack" height="40" width="139" src="https://platform.slack-edge.com/img/add_to_slack.png" srcset="https://platform.slack-edge.com/img/add_to_slack.png 1x, https://platform.slack-edge.com/img/add_to_slack@2x.png 2x" /></a>

    </section>
</body>
</html>